html {
    scroll-behavior : initial !important;
}
img {
    height: auto;
    width: auto;
}
.LoaderSection {
    background: #ebf5ff;
    z-index: 99999;
    height: 100vh;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.LoaderSection img {
    animation: zoom-in-zoom-out 3s ease infinite;
    width: 150px;
}
body,#root{
    overflow-x: hidden;
}
@keyframes zoom-in-zoom-out {
    0% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(1.1, 1.1);
    }
    100% {
        transform: scale(1, 1);
    }
}
.styles-module_whatsappButton__tVits{
    bottom: 5rem!important;
}
*, li, ol, p, ul,a {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: Poppins !important;
}
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 15px;
    z-index: 9999999;
    font-size: 18px;
    border: none;
    outline: 0;
    background-color: #2eb4ca;
    color: #fff;
    cursor: pointer;
    padding: 15px;
    border-radius: 0;
}
#navigation {
    padding: 0 0 0 20px;
    background: #fff;
    border-bottom: 1px solid #c6d7e8ab;
}
#myBtn:hover {
    background-color: #2097ab;
}
*, h1, h2, h3, h4, h5, h6, p, ul {
    padding: 0;
    margin: 0;
}
h1, h2, h3, h4, h5, h6 {
    color: #263b5e;
}
a:hover {
    text-decoration: none;
}
input, textarea {
    border: 0;
}
input:focus, textarea:focus {
    outline: 0;
    border: 0;
}
.floating-wpp {
    position: fixed;
    bottom: 15px;
    left: 15px;
    font-size: 14px;
    transition: bottom 0.2s;
}
.floating-wpp {
    bottom: 40px !important;
    left: 25px !important;
}
#WAButton {
    cursor: pointer;
    z-index: 9999;
}
.floating-wpp .floating-wpp-popup.active {
    bottom: 0;
    display: none !important;
}
.floating-wpp .floating-wpp-button {
    width: 55px !important;
    height: 55px !important;
}
.PageWrap {
    overflow: hidden;
}
[data-aos^="fade"][data-aos^="fade"] {
    opacity: 0;
    transition-property: opacity, transform;
}
.MainNavigation .nav-list li a i {
    vertical-align: baseline;
    margin-left: 5px;
    font-size: 14px;
}
.MainNavigation .nav-container {
    max-width: 1140px;
    margin: 0 auto;
}
.MainNavigation nav {
    float: left;
    display: flex;
    position: relative;
    width: 90%;
    justify-content: center;
}
.MainNavigation nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.MainNavigation nav ul li {
    float: left;
    position: relative;
}
.MainNavigation nav ul li a, .MainNavigation nav ul li a:visited {
    font-size: 16px;
    display: block;
    color: #000;
    text-decoration: none;
    padding: 10px 15px;
    font-weight: 500;
    line-height: 45px;
    margin: 0 0;
}
.row.HeaderSection.DesktopHeader.sticky .MainNavigation nav ul li a {
    line-height: 50px;
}
.MainNavigation nav ul li .nav-dropdown a.active-new, .MainNavigation nav ul li a.active-new, .mobileheader .Nav ul li a.active-new {
    color: #00e190 !important;
}
.MainNavigation nav ul li a:hover {
    color: #00e190;
    background: #fff;
}
.MainNavigation nav ul li .nav-dropdown a, .MainNavigation nav ul li .nav-dropdown a:visited {
    color: #2b2b2b;
    font-weight: 300;
    margin: 0;
    line-height: unset;
    padding: 10px 10px;
}
.MainNavigation nav ul li .nav-dropdown li:hover {
    background: #1673ff;
}
.MainNavigation nav ul li .nav-dropdown li:hover a, .MainNavigation nav ul li .nav-dropdown li:hover a:visited {
    color: #fff;
}
.MainNavigation nav ul li .nav-dropdown li a:hover, .MainNavigation nav ul li .nav-dropdown li a:visited:hover {
    background: unset;
}
.MainNavigation nav ul li a i {
    vertical-align: bottom;
}
.MainNavigation nav ul li ul li {
    min-width: max-content;
    width: auto;
    float: none;
    padding: 0 10px;
}
.MainNavigation nav ul li ul li a {
    padding: 15px;
    line-height: 20px;
}
.MainNavigation nav ul li ul a {
    transition: 0s all ease-in-out;
}
.MainNavigation .nav-dropdown {
    position: absolute;
    display: none;
    z-index: 999;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
    background: #fff;
    width: fit-content;
    padding: 10px 0;
    box-shadow: 0 14px 28px rgb(0 0 0 / 3%), 0 10px 10px rgb(0 0 0 / 5%);
    top: 66px;
    width: -webkit-fill-available;
}
.row.HeaderSection.DesktopHeader.sticky .MainNavigation .nav-dropdown {
    top: 72px;
}
.MainNavigation .nav-dropdown.ServicesInner {
    width: 1075px;
    left: -325px;
    padding: 0;
}
.ServicesInnerdropdown {
    padding: 50px;
}

p.MessageAfterSubmit {
    text-align: center;
    background: #263b5e;
    color: #fff;
    border: 3px dashed #00e190;
    padding: 15px;
    margin-top: 20px;
}
.ServicesInnerdropdown .DropDownCard {
    position: relative;
    padding-left: 65px;
}
.ServicesInnerdropdown .Dicon {
    position: absolute;
    left: 0;
}
.ServicesInnerdropdown .Dicon img {
    width: 51px;
}
.ServicesInnerdropdown .TxtBox {
    border-left: 1px solid #ccc;
    padding-left: 15px;
}
.ServicesInnerdropdown .TxtBox a {
    padding: 0 !important;
    color: #000 !important;
    opacity: 1;
    font-size: 16px !important;
    line-height: normal !important;
    font-weight: 500 !important;
    display: block;
    margin-bottom: 5px !important;
    letter-spacing: 0.5px;
}
.ServicesInnerdropdown .TxtBox a:hover {
    color: #00e190 !important;
}
.ServicesInnerdropdown .TxtBox p {
    font-size: 14px !important;
    line-height: 18px !important;
    margin: 0;
    color: #000 !important;
}
.MarginBottomSection {
    margin-top: 50px;
}
.MarginBottomSection:first-child,.MarginBottomSection:nth-child(2){
    margin-top: 0;
}
.RightImgSection img {
    width: 100%;
}
.RightImgSectionMain {
    display: flex;
    justify-content: center;
    align-items: center;
}
.row.HeaderSection {
    margin: 0;
    box-shadow: 0 5px 15px 0 rgb(0 33 85 / 10%);
}
.row.HeaderSection .col-lg-2.col-6.LeftSide {
    background: #2a3489;
    padding: 15px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.elementor-default .row.HeaderSection .col-lg-2.col-6.LeftSide {
    padding: 22px 15px;
}
.elementor-default .inside-page {
    padding: 70px 0 40px 0;
}
.BLogPage .elementor-widget:not(:last-child) {
    margin-bottom: 0;
}
.elementor-default h1.page-title {
    display: none;
}
.elementor-column {
    min-height: auto;
}
.row.HeaderSection .HeaderTopSection {
    padding: 10px 20px;
    background: #2a3489;
}
.row.HeaderSection .col-lg-10.col-6.RightSide {
    padding: 0;
}
.row.HeaderSection .HeaderTopSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.row.HeaderSection .HeaderTopSection ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    font-size: 14px;
}
.row.HeaderSection .HeaderTopSection ul li {
    margin-right: 30px;
}
.row.HeaderSection .HeaderTopSection ul li a {
    color: #fff;
}
.row.HeaderSection .HeaderTopSection ul li a i {
    margin-right: 5px;
}
.row.HeaderSection .HeaderTopSection .right ul li {
    margin-right: 0;
    margin-left: 20px;
}
.row.HeaderSection .HeaderTopSection .right ul li a {
    font-size: 16px;
}
.row.HeaderSection .HeaderTopSection .right ul li a span {
    font-size: 0px;
}
.row.HeaderSection .col-lg-2.col-6.LeftSide .logo img {
    width: 100%;
}
.MainNavigation nav .nav-list li:hover .nav-dropdown {
    display: block !important;
}
.mobileheader {
    background: #263b5e;
    display: none;
    box-shadow: 0 5px 15px 0 rgb(0 33 85 / 10%);
}
.mobileheader .MainWrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.mobileheader .MainWrap .logo img {
    width: 138px;
    padding: 10px 0;
}
.sidenav {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 30px;
    z-index: 99999999999999;
}
.sidenav .closebtn {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 26px;
    margin-left: 0;
    padding: 0;
    color: #fff;
    background: #2a3489;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.SideBarAdd {
    margin-top: 0;
    padding: 35px;
}
.SideMenuBarBtn {
    font-size: 40px;
    cursor: pointer;
    color: #fff;
    background: unset;
    padding: 0;
}
.SideBarAdd .SocialIcon {
    display: flex;
    width: 90%;
    padding: 20px 0;
    margin: 20px 0;
    list-style: none;
}
.SideBarAdd .SocialIcon li a {
    display: block;
    color: #fff;
    margin: 0 10px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.SideBarAdd .SocialIcon li a span {
    font-size: 0px;
}
.SideBarAdd .SocialIcon li a {
    font-size: 15px;
    margin: 0;
    margin-right: 20px;
    color: #2a3489;
}
.SideBarAdd .logoSideBar img {
    margin: auto;
    margin-bottom: 20px;
}
.SideBarSectionIcon {
    float: left;
    width: 10%;
    text-align: end;
    line-height: 56px;
    background: #2a3489;
    display: flex;
    justify-content: center;
}
.row.HeaderSection.DesktopHeader.sticky .SideBarSectionIcon {
    line-height: 63px;
}
.SecondSectionTxt p {
    font-size: 12px;
    color: #777;
}
.SocialIcon {
    position: relative;
}
.SocialIcon:after {
    content: "";
    position: absolute;
    background: #ccc;
    height: 1px;
    width: 45px;
    top: 0;
}
.SocialIcon:before {
    content: "";
    position: absolute;
    background: #ccc;
    height: 1px;
    width: 45px;
    bottom: 0;
}
.ThirdSectionSideBar .SideBarNavigation li {
    margin-bottom: 8px;
    list-style: none;
    position: relative;
    padding-left: 15px;
}
.ThirdSectionSideBar .SideBarNavigation li:after {
    content: "";
    position: absolute;
    height: 6px;
    width: 6px;
    border-radius: 50px;
    background: #2a3489;
    left: 0;
    top: 10px;
}
.ThirdSectionSideBar .SideBarNavigation li a {
    font-size: 14px !important;
    line-height: 18px !important;
    color: #777 !important;
    font-weight: 400 !important;
}
.ThirdSectionSideBar h6 {
    color: #2b2b2b;
    font-weight: 400;
    margin-bottom: 15px;
}
.Footer {
    padding: 60px 0 0 0;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.Footer .Shape {
    overflow: hidden;
    position: absolute;
    left: 0;
    width: 100%;
    transform: rotate(180deg);
    top: -1px;
    line-height: 0;
    direction: ltr;
}
.Footer .Shape svg {
    width: calc(114% + 1.3px);
    z-index: -1;
    display: block;
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}
.Footer .Shape svg .shape-fill {
    fill: #fff;
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
}
.Footer .FooterTop .Logo img {
    width: 170px;
}
.FooterTop .wrapfp {
    color: #000;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.Footer .FooterTop .socialmediaicon ul {
    display: flex;
    justify-content: center;
}
.Footer .FooterTop .socialmediaicon ul li {
    margin-right: 15px;
}
.Footer .FooterTop .socialmediaicon ul li a {
    color: #2a3489;
    height: 40px;
    width: 40px;
    border-radius: 50px;
    border: 1px solid #2a3489;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}
.Footer .FooterTop .socialmediaicon ul li a:hover {
    color: #fff;
    background: #293489;
    border: 1px solid #29348a;
}
.FooterTop {
    text-align: center;
    margin-bottom: 50px;
    padding-bottom: 40px;
    border-bottom: 1px solid #cde4fb;
}
.Footer .Middle .h5, .Footer .Middle h5 {
    margin-bottom: 20px;
    padding-bottom: 10px;
    position: relative;
    color: #fff !important;
}
.Footer .Middle .h5:after, .Footer .Middle h5:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    background: #fff;
    width: 50px;
    height: 2px;
}
.Footer .Middle ul li {
    margin-bottom: 10px;
}
.Footer .Middle ul li a {
    color: #fff;
    font-size: 14px;
}
.Footer .Middle ul li a:hover {
    color: #d0d0d0;
}
.Footer .Middle ul li a i {
    margin-right: 10px;
}
.Footer .Middle ul.Contact li {
    font-size: 14px;
    color: #fff;
}
.Footer .Middle ul.Contact b {
    color: #fff;
    font-weight: 600;
}
.Footer .Middle a.BtnDesign {
    margin-top: 15px;
    background: #fff;
    color: #000;
}
.Footer .Middle a.BtnDesign i {
    margin-right: 5px;
}
.Footer .FooterBottom {
    padding: 20px 0 20px;
    margin-top: 40px;
    text-align: center;
    border-top: 1px solid #cde4fb;
    color: #fff;
    font-size: 14px;
}
.Footer .FooterBottom a {
    color: #fff;
}
.BtnDesign {
    background: #00e190;
    color: #fff;
    padding: 10px 24px;
    display: inline-block;
    border-radius: 3px;
}
.BtnDesign i {
    margin-right: 5px;
}
.BtnDesign:hover {
    background: #263b5e;
    color: #fff;
}
.row.HeaderSection.DesktopHeader.sticky {
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
    background: #fff;
}
.row.HeaderSection.DesktopHeader.sticky .HeaderTopSection {
    display: none;
}
.row.HeaderSection.DesktopHeader.sticky .col-lg-2.col-6.LeftSide {
    padding: 0 15px;
}
.row.HeaderSection.DesktopHeader.sticky .col-lg-2.col-6.LeftSide .logo img {
    width: 100%;
    padding: 5px 0;
}
.row.HeaderSection.DesktopHeader.sticky #navigation {
    background: #fff;
    border-bottom: 1px solid #ffffffab;
}
.SliderWrap {
    padding: 60px 0 320px;
    background-repeat: no-repeat;
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: cover;
}
.SliderWrap .ContentWrap .First {
    background: #263b5e;
    display: inline-block;
    padding: 5px 10px;
    color: #fff;
    font-weight: 600;
    animation-name: animateUpDown1;
    animation-duration: 3.2s;
    animation-iteration-count: infinite;
}
.SliderWrap .ContentWrap .h1 {
    font-size: 50px;
    color: #263b5e;
    line-height: 64px;
    margin: 20px 0;
    font-weight: 700;
    animation-name: animateUpDown1;
    animation-duration: 3.2s;
    animation-iteration-count: infinite;
}
.SliderWrap.HOmePage .ContentWrap .h1 {
    font-size: 60px;
    line-height: 76px;
}
.SliderWrap .ContentWrap .SecPar, .SliderWrap .ContentWrap .thiPar {
    color: #000;
    line-height: 26px;
}
.SliderWrap .ContentWrap p{
    margin-bottom: 20px;
}
.SliderWrap .ContentWrap p.First{
    margin-bottom: 0;
}
.SliderWrap .ContentWrap p:last-child{
    margin-bottom: 0;
}
.SliderWrap .ContentWrap .thiPar {
    margin-top: 20px;
}
.SliderWrap .ContentWrap .BtnDesign {
    margin-top: 10px;
    padding: 16px 30px;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 10px;
    box-shadow: 0px 11px 1px 0px rgb(64 56 151 / 10%);
}
.SliderWrap .ImgSec {
    text-align: end;
}
.SliderWrap .row {
    align-items: center;
}
.DomainSearch {
    margin-top: 20px;
    position: relative;
}
.DomainSearch .Input {
    background: #fff;
    padding: 5px 20px;
    border-radius: 3px;
    color: #000;
    width: 90%;
    display: block;
}
::placeholder {
    color: #000;
}
.DomainSearch .Input input {
    padding: 15px 10px;
    width: 80%;
    color: #000;
}
.DomainSearch .BtnWrap {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    right: 0;
    display: flex;
    align-items: center;
}
.DomainSearch .BtnWrap .BtnDesign {
    box-shadow: unset;
    padding: 10px 35px;
}
.DomainSearchMain {
    background: #fff;
    box-shadow: 10px 10px 79px 0px rgb(157 157 157 / 19%);
    padding: 90px 110px;
    width: 760px;
    text-align: center;
    margin: auto;
    margin-top: -210px;
    margin-bottom: 30px;
}
.DomainSearchMain .DomainSearchWrap .DomainHeading {
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #263b5e;
    margin-bottom: 25px;
}
.DomainSearchMain .DomainSearchWrap form {
    position: relative;
}
.DomainSearchMain .DomainSearchWrap input {
    width: 100%;
    border: 1px solid #dcdcdc;
    padding: 15px 70px 15px 20px;
    border-radius: 10px;
}
.DomainSearchMain .DomainSearchWrap .BtnWrap button {
    background: #00e190;
    border: 0;
    color: #fff;
    padding: 10px 16px;
    font-size: 20px;
    border-radius: 0 10px 10px 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
.DomainSearchMain .DomainSearchWrap .BtnWrap button:hover {
    background: #263b5e;
}
.DomainSearchMain .DomainSearchWrap ::placeholder {
    color: #aeaeae;
}
.DomainSearchMain .DomainSearchWrap ul {
    margin-top: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.DomainSearchMain .DomainSearchWrap ul li img {
    opacity: 0.5;
}
button:focus {
    outline: none !important;
}
.Services-offer {
    padding: 90px 0 30px;
}
.Heading {
    color: #263b5e;
    font-size: 38px;
    font-weight: 600;
    line-height: 35px;
    text-align: center;
}
.Heading span {
    color: #00e190;
}
.OurClient .row, .HotingPlan .row, .Services-offer .row, .WhyChoose .row {
    margin-top: 60px;
}
.Services-offer .Card {
    margin-bottom: 50px;
    background-repeat: no-repeat;
    padding: 0px 15px 0px 15px;
    background-position: 17px 5px;
    text-align: center;
}
.Services-offer .Card .img {
    width: 70px;
    height: 70px;
}
.Services-offer .Card .h4, .Services-offer .Card h4 {
    font-size: 20px;
    font-weight: 600;
    line-height: 34px;
    color: #2a3489;
    margin: 20px 0 10px;
    display: block;
    position: relative;
}
.Services-offer .Card .shape {
    display: block;
    margin: auto;
    margin-bottom: 15px;
}
.Services-offer .Card .h4 a, .Services-offer .Card h4 a {
    color: #263b5e;
    display: block;
    letter-spacing: 0.5px;
}
.Services-offer .Card .h4 a:hover, .Services-offer .Card h4 a:hover {
    color: #00e190;
}
.Services-offer .Card p {
    color: #2c2c2c;
    font-size: 14px;
    line-height: 24px;
    padding: 0 12% 0 12%;
    font-weight: 500;
    letter-spacing: 0.5px;
}
.ProductsCustomCart {
    box-shadow: -1px 8px 18px rgba(0, 0, 0, 0.08);
    border-radius: 10px;
    margin-bottom: 30px;
    background: #fff;
}
.ProductsCustomCart .pricing-head {
    text-align: center;
    position: relative;
    padding: 25px;
    z-index: 10;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-top: 35px;
    padding-bottom: 50px;
    overflow: hidden;
}
.ProductsCustomCart .pricing-head:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background-repeat: repeat-x;
    -webkit-transform-origin: left bottom;
    -moz-transform-origin: left bottom;
    -ms-transform-origin: left bottom;
    transform-origin: left bottom;
    -webkit-transform: skewY(-7deg);
    -moz-transform: skewY(-7deg);
    -ms-transform: skewY(-7deg);
    transform: skewY(-7deg);
    background-image: linear-gradient(to left, #263b5e, #263b5e);
    color: #fff !important;
}
.ProductsCustomCart .pricing-head .pricing-title {
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.15);
    color: #fff;
    text-shadow: 0 2px 3px rgb(0 0 0 / 25%);
    border-radius: 4px;
    padding: 5px 25px;
    display: inline-block;
    margin-bottom: 12px;
}
.ProductsCustomCart .pricing-head .product-pricing {
    color: #fff;
    font-size: 26px;
    margin-top: 6px;
}
.ProductsCustomCart .pricing-head .Detail {
    display: block;
    font-size: 14px;
}
.ProductsCustomCart .prod-details {
    padding: 10px 25px 25px;
}
.ProductsCustomCart ul li {
    font-size: 14px;
    margin: 15px 0;
    position: relative;
    color: #000;
    text-align: center;
}
.ProductsCustomCart ul li i, .ProductsCustomCart ul li span {
    position: absolute;
    left: 0;
    top: 3px;
    color: #1344a4;
}
.ProductsCustomCart .CrtButton {
    margin-top: 30px;
    margin-bottom: 15px;
    text-align: center;
}
.ProductsCustomCart .CrtButton i {
    margin-right: 5px;
}
.Plans {
    padding: 0 70px;
}
.WhyChoose {
    padding: 70px 0 80px;
    position: relative;
}
.WhyChoose .contentWrap {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
}
.WhyChoose .ColorCard .contentWrap {
    text-align: center;
}
.WhyChoose .contentWrap img {
    width: 65px;
    margin-bottom: 15px;
}
.WhyChoose .contentWrap .h5, .WhyChoose .contentWrap h5 {
    font-size: 18px;
    margin: 0px 0 15px;
    text-align: center;
}
.WhyChoose .contentWrap p, .WhyHosting p {
    color: #000;
    line-height: 26px;
    font-size: 15px;
}
.WhyChoose .Shap svg {
    position: absolute;
    top: -128px;
}
.WhyChoose .Shap svg .shape-fill {
    fill: #ebf5ff;
}
.WhyChoose .Heading {
    padding-bottom: 20px;
}
.WhyChoose .LeftImg img {
    width: 100%;
}
.OurClient .owl-item img {
    padding: 0 30px;
}
.OurClient {
    margin-bottom: 70px;
}
@keyframes animateUpDown {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-25px);
    }
    100% {
        transform: translateY(0);
    }
}
@keyframes UP {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-25px);
    }
    100% {
        transform: translateX(0);
    }
}
.WhoWeAre {
    padding: 90px 0;
}
.WhoWeAre .h3, .WhoWeAre h3 {
    margin-bottom: 20px;
    font-weight: 600;
}
.WhoWeAre p {
    color: #000;
    line-height: 30px;
    font-size: 17px;
}
.WhoWeAre img {
    width: 75%;
    margin: auto;
}
.WhoWeAre .row {
    padding-top: 70px;
}
.WhyHosting .row {
    padding-top: 60px;
}
.WhyHosting {
    padding: 80px 0 80px;
}
.WhyHosting img {
    width: 60px;
    margin-bottom: 10px;
}
.WhyHosting.ContactUs img {
    width: 51px;
    margin-bottom: 5px;
}
.WhyHosting .h4, .WhyHosting h4 {
    margin: 25px 0 20px;
    position: relative;
    padding-bottom: 15px;
    font-size: 20px;
}
.WhyHosting .h4:after, .WhyHosting h4:after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 80px;
    height: 4px;
    background: #00e190;
    left: 0;
}
.WhyHosting .box {
    padding: 0 15px;
    position: relative;
    background: #fff0;
    border-radius: 15px;
}
.WhyHosting.WebDev {
    padding-bottom: 50px;
}
.WhyHosting.WebDev .box{
    margin-bottom: 30px;
}
.WhyHosting .box a {
    color: #000;
}
.WhyHosting .box i {
    color: #263b5e;
    font-size: 38px;
    margin-bottom: 10px;
}
.WhyHosting .box.Bottom {
    margin-top: 40px;
}
.WhyHosting .box .h4, .WhyHosting .box h4 {
    margin: 10px 0 20px;
    color: #263b5e;
}
.WhyHosting .box.Margin {
    margin-top: 40px;
}
.Services-offer.Inner .Card .IMg {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
}
.Services-offer.Inner .Card .img {
    width: 70px;
    height: auto;
}
.Services-offer.WebDevelopments.Inner .Card .img {
    width: 52px;
}
.Services-offer.Inner .Card .IMg i {
    color: #263b5e;
    font-size: 50px;
}
.Services-offer.Inner .Card {
    padding: 0px 15px 0px 15px;
}
.Services-offer.Inner .Card .h4, .Services-offer.Inner .Card h4 {
    font-size: 18px;
    color: #263b5e !important;
}
.Services-offer.Inner p {
    padding: 0;
    font-weight: 400;
}
.Services-offer.Inner {
    padding: 70px 0 30px;
}
.SliderWrap.Inner {
    border-bottom: 2px solid #000;
    background: #fff;
    background-repeat: no-repeat;
    padding: 70px 0;
}
.SliderWrap.Inner .DomainSearch .Input, .SliderWrap.Inner .DomainSearch .Input input {
    background: #ebf5ff;
}
.SliderWrap.Inner .ImgSec img {
    width: 490px;
    height: 390px;
    object-fit: contain;
}
.SliderWrap.Inner.VPSHOsting .ImgSec img {
    height: 430px;
}
.SliderWrap.Inner.WebsiteDeve .ImgSec img {
    width: 100%;
    height: auto;
}
.SliderWrap.Inner.DomianSearch .ImgSec img {
    height: auto;
}
.centersection {
    background-image: linear-gradient(290deg, #263b5e 0, #263b5e 100%);
    color: #fff;
    text-align: center;
    padding: 60px;
}
.centersection h2 {
    color: #fff !important;
    line-height: 50px;
    margin-bottom: 25px;
}
.centersection p {
    line-height: 32px;
}
.TablePlan table.table.table-striped thead {
    background: #263b5e;
    color: #fff;
}
.TablePlan .table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #263b5e;
    padding: 20px 15px;
}
.TablePlan .table tbody td {
    padding: 20px 15px;
    font-size: 14px;
}
.TablePlan .table tbody td a {
    color: #000;
}
.TablePlan .table {
    margin-bottom: 0 !important;
}
.TablePlan .table-responsive {
    box-shadow: -1px 8px 18px rgb(0 0 0 / 8%);
}
.VpsPlan .tab-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.VpsPlan .tab-menu ul li a {
    color: #fff;
    font-size: 18px;
    display: inline-block;
    padding: 18px 26px;
    display: block;
    text-decoration: none;
    transition: 0.5s all;
    background: #263b5e;
    border: 2px solid #263b5e;
    border-bottom: 0;
}
.VpsPlan .tab-menu ul li a:hover {
    background: #fff;
    color: #000;
    text-decoration: none;
    font-weight: 700;
}
.VpsPlan .tab-menu ul li a.active {
    background: #fff;
    color: #000;
    font-weight: 700;
    text-decoration: none;
}
.VpsPlan .tab-box.active{
    display: block;
}
.VpsPlan .BoxTabVps .tablinks{
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    display: inline-block;
    padding: 18px 26px;
    display: block;
    text-decoration: none;
    transition: 0.5s all;
    background: #263b5e;
    border: 2px solid #263b5e;
    border-bottom: 0;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
    text-align: center;
}
.VpsPlan .BoxTabVps .tablinks.active,.VpsPlan .BoxTabVps .react-tabs__tab--selected{
    background: #fff;
    color: #000;
    font-weight: 700;
    text-decoration: none;
}
.VpsPlan .tab-box .RightSide ul li p.flag-icon img {
    margin-right: 5px;
}
:focus-visible {
    outline: none;
}
.VpsPlan .tab-teaser {
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
    box-shadow: 0 20px 45px 0 rgb(0 0 0 / 8%);
}
.VpsPlan .tab-main-box {
    background: #fff;
    padding: 30px 40px 40px;
    border: 2px solid #263b5e;
    margin-top: -2px;
}
.VpsPlan .tab-box .LeftSide {
    padding-right: 40px;
}
.VpsPlan .tab-box .LeftSide .h4 {
    color: #292f35 !important;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.2;
}
.VpsPlan .tab-box .LeftSide .h2, .VpsPlan .tab-box .LeftSide h2 {
    color: #00e190 !important;
    font-weight: 600;
    margin: 10px 0 15px;
}
.VpsPlan .tab-box .LeftSide p {
    color: #000;
    line-height: 24px;
    font-size: 15px;
    margin-bottom: 20px;
}
.VpsPlan .tab-box .RightSide ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.VpsPlan .tab-box .RightSide ul li {
    width: 31%;
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 40px;
}
.VpsPlan .tab-box .RightSide ul li .h6, .VpsPlan .tab-box .RightSide ul li h6 {
    color: #263b5e !important;
    font-size: 18px;
    margin-bottom: 10px;
}
.ContactPage .RightSide .ContactForm form .Form-Control input, .RightSide .ContactForm form .Form-Control textarea {
    width: 100%;
    padding: 10px 10px;
    background: #efefef;
    box-shadow: unset;
    border: unset;
    border-radius: 5px;
}
.ContactPage .RightSide .ContactForm form .Form-Control input:focus, .RightSide .ContactForm form .Form-Control textarea:focus {
    outline: 0;
}
.ContactPage .RightSide .ContactForm .Form-Control {
    margin-bottom: 15px;
}
.ContactPage .RightSide .ContactForm .Form-Control input[type="submit"] {
    background: #00e190;
    color: #fff;
    padding: 10px 24px;
    display: inline-block;
    border-radius: 3px;
}
.ContactPage .RightSide .ContactForm .Form-Control input[type="submit"]:hover {
    background: #263b5e;
    color: #fff;
}
.ContactPage .ContactForm {
    margin-top: 15px;
}
.ContactPage .Heading {
    text-align: left;
    margin-bottom: 40px;
}
.ContactPage {
    padding-bottom: 70px;
}
.WhyHosting.ContactUs {
    padding: 70px 0;
}
.ContactPage .BoxShadow {
    box-shadow: 0 0 18px 0 rgb(0 0 0 / 12%);
    padding-right: 50px;
}
.ContactPage .BoxShadow .RightSide {
    padding-top: 40px;
    padding-bottom: 40px;
}
.TermsAndConditon .li, .TermsAndConditon ul li {
    position: relative;
    padding-left: 20px;
    padding-bottom: 10px;
    text-align: justify;
    font-size: 14px;
}
.TermsAndConditon .li span.icon, .TermsAndConditon ul li span.icon, .conditon-listing li i {
    position: absolute;
    left: 0;
    top: 2px;
    font-size: 12px;
    display: inline-block;
    color: #00e190;
    font-weight: 900;
}
.conditon-listing {
    margin-top: 10px;
}
.conditon-listing li i {
    top: 2px;
}
.PrivacyTerms .conditon-listing li i {
    top: 4px;
    font-size: 12px;
}
.TermsAndConditon {
    padding-top: 60px;
    margin-bottom: 50px;
}
.TermsAndConditon a {
    color: #00e190;
    font-weight: 400;
}
.TermsAndConditon .inner-listing, .TermsAndConditon ul {
    margin-top: 10px;
    margin-bottom: 10px;
}
.ErrorPage {
    background: #fff;
    padding: 50px 0;
    height: 70vh;
    display: flex;
    align-items: center;
}
.ErrorContent {
    text-align: center;
}
.ErrorContent h1 {
    color: #292f35;
    font-weight: 700;
    font-size: 60px;
}
.ErrorContent h2 {
    color: #292f35;
    margin: 25px 0 25px;
}
.ErrorContent p {
    color: #000;
    margin-bottom: 25px;
}
.elementor-default #secondary .wp-block-search .wp-block-search__inside-wrapper {
    display: block;
}
.elementor-default #secondary aside.widget.widget_block, .elementor-default #secondary aside.widget.widget_block.widget_search {
    margin-bottom: 30px;
    background-color: #2a3489;
    padding: 25px 20px;
}
.elementor-default .wp-block-search .wp-block-search__label, .elementor-default aside.widget.widget_block h2 {
    font-weight: 400;
    color: #fff !important;
    font-size: 22px;
    margin-bottom: 20px;
}
.elementor-default .wp-block-search .wp-block-search__button {
    background: #fff;
    color: #2a3489;
    padding: 10px 35px;
    display: inline-block;
    border-radius: 3px;
    font-size: 16px;
    font-family: Poppins;
    margin: 0;
    margin-top: 15px;
    border: 0;
}
.elementor-default .wp-block-search .wp-block-search__input {
    flex-grow: unset;
    border: 0;
    width: 100%;
    border-radius: 3px;
    box-sizing: border-box;
}
.elementor-default #secondary .widget li {
    padding: 0 0 7px 0;
    margin: 0 !important;
    color: #fff;
    line-height: 24px;
    font-weight: 400;
    border-bottom: 1px solid #515fd5;
    margin-bottom: 10px !important;
}
.elementor-default #secondary .widget li:last-child {
    padding: 0;
}
.elementor-default #secondary .widget li a {
    color: #fff !important;
}
.Portfolio_Wrap {
    padding: 70px 0 10px;
}
.Portfolio_Wrap .Portfolio_Content {
    box-shadow: -1px 8px 18px rgb(0 0 0 / 21%);
    height: 450px;
    overflow-y: scroll;
    margin-bottom: 60px;
    border: 5px solid #000;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #263b5e;
}
::-webkit-scrollbar-thumb {
    background: #00e190;
}
.Portfolio_Wrap ::-webkit-scrollbar {
    width: 5px;
}
.Portfolio_Wrap ::-webkit-scrollbar-track {
    background: #f1f1f1;
}
.Portfolio_Wrap ::-webkit-scrollbar-thumb {
    background: #2a3489;
}
.Portfolio_Wrap ::-webkit-scrollbar-thumb:hover {
    background: #2a3489;
}
.Portfolio_Wrap .Portfolio_Content img {
    width: 100%;
}
.HotingPlanTabs .tab {
    overflow: hidden;
    text-align: center;
    display: table;
    margin: 50px auto 0 auto;
}
.HotingPlan.HotingPlanTabs .row {
    margin-top: 50px;
}
.HotingPlan .row .col-md-4 {
    padding: 0 40px;
}
.HotingPlanTabs .tab .button {
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 26px;
    background: inherit;
    transition: 0.3s;
    margin-right: 18px;
    font-size: 18px;
    color: #fff;
    border-radius: 5px;
    border: 1px solid #00e190;
    color: #00e190;
    font-family: Poppins !important;
}
.HotingPlanTabs .tab .button:hover {
    background-color: #00e190;
    color: #fff;
}
.HotingPlanTabs .tab .button.react-tabs__tab--selected {
    background-color: #00e190;
    color: #fff;
}
.HotingPlanTabs .tabcontent {
    display: none;
    padding: 6px 12px;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
}
.HotingPlanTabs .tabcontent.active {
    display: block;
}
@-webkit-keyframes fadeEffect {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes fadeEffect {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.TopBarHeader {
    background: #263b5e;
    position: relative;
    z-index: 9;
    height: 50px;
    display: flex;
    align-items: center;
}
.TopBarHeader:after {
    content: "";
    background: #00e190;
    height: 8px;
    width: 225px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 0 0 12px 12px;
    z-index: -1;
}
.TopBarHeader .TopBarContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 7px 0;
}
.TopBarHeader .TopBarContent ul {
    display: flex;
    align-items: center;
}
.TopBarHeader .TopBarContent ul li {
    margin-right: 30px;
}
.TopBarHeader .TopBarContent ul li:last-child {
    margin-right: 0px;
}
.TopBarHeader .TopBarContent ul li a {
    color: #fff;
    font-size: 14px;
}
.TopBarHeader .TopBarContent .RightWrapContent ul li a {
    font-size: 16px;
}
.TopBarHeader .TopBarContent ul li a:hover {
    color: #00e190 !important;
}
.TopBarHeader .TopBarContent ul li a i {
    margin-right: 5px;
}
.TopBarHeader .TopBarContent .RightWrapContent ul li {
    margin-right: 15px;
}
.DesktopHeader .MainNavigation nav {
    float: none;
    width: auto;
}
.DesktopHeader #navigation .LogWrap a {
    display: block;
}
.DesktopHeader #navigation .LogWrap img {
    width: 135px;
}
.DesktopHeader #navigation {
    padding: 10px 0;
    background: #fff;
    border-bottom: 0px solid #c6d7e8ab;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.DesktopHeader #navigation .RightWrapBtn .LogBt {
    background: #263b5e;
    color: #ffffff;
    padding: 10px 12px;
    border-radius: 6px 6px 6px 6px;
    font-weight: 600;
    font-size: 14px;
}
.DesktopHeader #navigation .RightWrapBtn .LogBt i {
    margin-right: 5px;
}
.DesktopHeader #navigation .RightWrapBtn .LogBt:hover {
    background: #00e190;
    color: #fff;
    transform: translateY(-8px);
}
.DesktopHeader #navigation .RightWrapBtn .LogBt.Log {
    background: #00e190;
    color: #fff;
    margin-left: 10px;
}
.DesktopHeader #navigation .RightWrapBtn .LogBt.Log:hover {
    background: #263b5e;
    color: #fff;
}
.HeaderFix {
    background: #fff;
    border-bottom: 1px solid #c6d7e8ab;
}
.DesktopHeader.sticky .HeaderFix {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999;
    border-bottom: 1px solid #c6d7e8ab;
}
.WhyChooseNewWrap .Ser_Card {
    min-height: 410px;
    background: #263b5e;
    padding: 45px 30px;
    text-align: center;
    position: relative;
    z-index: 9;
    overflow: hidden;
    transform: rotate(-3deg);
    transition: 0.3s all ease-in-out;
    margin-bottom: 50px;
    box-shadow: 0 10px 10px #00000008;
}
.WhyChooseNewWrap .Ser_Card:hover {
    transform: rotate(0deg);
}
.WhyChooseNewWrap .Ser_Card:hover .Card_Content {
    transform: rotate(0deg);
}
.WhyChooseNewWrap .Ser_Card .Card_Content {
    position: relative;
    transition: 0.3s all ease-in-out;
    z-index: 9;
    transform: rotate(3deg);
    text-align: left;
}
.WhyChooseNewWrap .Ser_Card::after {
    content: "";
    height: 100%;
    width: 100%;
    z-index: 1;
    background: #263b5e;
    position: absolute;
    top: -101%;
    left: 0;
    transition: 0.3s all ease-in-out;
}
.WhyChooseNewWrap .Ser_Card:hover::after {
    top: 0;
    animation-name: example;
    animation-duration: 0.3s;
}
@keyframes example {
    from {
        opacity: 0.2;
    }
    to {
        opacity: 1;
    }
}
.WhyChooseNewWrap .Ser_Card img {
    width: 70px;
    transition: 0.2s all ease-in-out;
}
.WhyChooseNewWrap .Ser_Card h5 {
    color: #fff !important;
    text-transform: unset;
    letter-spacing: 1px;
    font-weight: 500;
    margin: 35px 0 20px;
    position: relative;
    padding-bottom: 10px;
    width: fit-content;
    transition: 0.2s all ease-in-out;
    text-align: left;
}
.WhyChooseNewWrap .Ser_Card h5::after {
    content: "";
    background: #00e190;
    height: 2px;
    width: 13%;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: 0.2s all ease-in-out;
}
.WhyChooseNewWrap .Ser_Card:hover h5::after {
    width: 100%;
    background: #00e190;
}
.WhyChooseNewWrap .Ser_Card:hover h5, .WhyChooseNewWrap .Ser_Card:hover p {
    color: #fff;
}
.WhyChooseNewWrap .Ser_Card p {
    color: #fff;
    line-height: 27px;
    font-size: 14px;
    font-weight: 400;
    width: 100%;
    margin: auto;
    transition: 0.2s all ease-in-out;
    text-align: left;
}
.Footer .Middle ul.SocialFooter {
    display: flex;
}
.Footer .Middle ul.SocialFooter li {
    margin: 0;
    margin-right: 6px;
    margin-top: 5px;
}
.Footer .Middle ul.SocialFooter li a {
    font-size: 16px;
}
.TopBarHeader .TopBarContent .RightWrapContent {
    display: flex;
    align-items: center;
}
.TopBarHeader .TopBarContent .RightWrapContent .HeaderSocialTop {
    margin-left: 20px;
}
.TopBarHeader .TopBarContent .RightWrapContent .TOpNavC li a {
    font-size: 14px;
}
.TopBarHeader .TopBarContent .RightWrapContent .TOpNavC li a i {
    margin-right: 10px;
}
.DesktopHeader #navigation .RightWrapBtn {
    position: relative;
}
.DesktopHeader #navigation .RightWrapBtn .LoginPopUp{
    display: none;
    width: 320px;
    right: 0;
    left: auto;
    padding: 0;
    position: absolute;
    top: 45px;
    box-shadow: 0 0 16px 1px #0000001a;
    border-radius: 15px;
    border: 1px solid #e7e9ec;
    z-index: 999;
}
.DesktopHeader #navigation .RightWrapBtn .LoginPopUp.show {
    display: block;
}
.DesktopHeader #navigation .RightWrapBtn .LoginPopUp .user-login-dropdown-form {
    position: relative;
}
.DesktopHeader #navigation .RightWrapBtn .LoginPopUp .user-login-dropdown-form .form-group {
    margin-bottom: 0;
    position: relative;
}
.DesktopHeader #navigation .RightWrapBtn .LoginPopUp .form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.DesktopHeader #navigation .RightWrapBtn .LoginPopUp .user-login-dropdown-form .form-group input {
    padding: 25px 56px 25px 15px;
    font-size: 13px;
    letter-spacing: 1px;
}
.DesktopHeader #navigation .RightWrapBtn .LoginPopUp .user-login-dropdown-form .form-group.username input {
    border: 0;
    border-radius: 15px 15px 0 0;
    border-bottom: 1px solid #e7e9ec;
}
.DesktopHeader #navigation .RightWrapBtn .LoginPopUp .user-login-dropdown-form .form-group i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 30px;
    color: #00e190;
}
.DesktopHeader #navigation .RightWrapBtn .LoginPopUp .user-login-dropdown-form .form-group.password input {
    border: 0;
    border-radius: 0 0 15px 15px;
    border-top: 1px solid #e7e9ec;
}
.DesktopHeader #navigation .RightWrapBtn .LoginPopUp .user-login-dropdown-form-button {
    background-image: linear-gradient(to right,#263b5e,#263b5e);
    border: 0;
    transition: background-size .2s ease-in-out,.2s box-shadow ease-in-out,.2s filter,.3s opacity;
    color: #fff;
    height: 40px;
    width: 40px;
    font-size: 14px;
    border-radius: 50px;
    outline: none !important;
    line-height: 40px;
    cursor: pointer;
    box-shadow: 3px 4px 31px 0 rgb(38 59 94 / 40%);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -22px;
}
.DesktopHeader #navigation .RightWrapBtn .LoginPopUp .user-login-dropdown-form-button:hover{
    background-image: linear-gradient(to right,#00e190,#00e190);
}
.form-control:focus{
    box-shadow: unset!important;
}
.SetupCardBox .SSlCARD {
    padding: 20px;
    box-shadow: 0 0 19px -3px #0000002b;
    margin-bottom: 15px;
}
.SetupCardBox .SSlCARD h2 {
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 10px;
}
.SetupCardBox .SSlCARD img {
    width: 100%;
    margin-bottom: 0;
    margin-top: 10px;
    max-height: 271px;
    object-fit: cover;
}
.SetupCardBox .BtmTxt{
    font-size: 20px;
}
.SetupCardBox.WhyHosting .row {
    padding-top: 0;
}
.SliderWrap.Inner.WebsiteDeve .ImgSec.Imgg img{
    width:80%;
}
.Heading .TextCenter{
    width: 70%;
    margin: auto;
    margin-top: 30px;
    font-weight: normal;
}
.WorkFlowBox .box img {
    width: 60px;
    margin-bottom: 15px;
    filter: invert(1);
}
.WorkFlowBox .box .h4 {
    margin: 0;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1px;
}
.WorkFlowBox .box.mrtop{
    margin-top: 50px;
}
.WorkFlow .step-progressbar-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}
.WorkFlow .arrow-step-wrap {
    display: flex;
    flex-flow: row nowrap;
    list-style: none;
}
.WorkFlow .arrow-step-wrap li {
    position: relative;
    margin-right: 20px;
    width: 200px;
    height: 56px;
    background-color: #00e190;
    color: #263b5e;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}
.WorkFlow .arrow-step-wrap li:before {
    left: 0;
    border-color: transparent transparent transparent #263b5e !important;
}
.WorkFlow .arrow-step-wrap li:after {
    transform: translateX(100%);
    right: 0;
    border-left-color: inherit;
}
.WorkFlow .arrow-step-wrap .step:after, .WorkFlow .arrow-step-wrap .step:before {
    position: absolute;
    top: 0;
    content: " ";
    border-style: solid;
    border-width: 28px 0 28px 10px;
    border-color: transparent transparent transparent #00e190;
}
input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, textarea:-webkit-autofill, textarea:-webkit-autofill:hover, textarea:-webkit-autofill:focus, select:-webkit-autofill, select:-webkit-autofill:hover, select:-webkit-autofill:focus {
    border: 1px solid #dee0e3;
    -webkit-box-shadow: 0 0 0px 1000px #fff inset;
    transition: background-color 5000s ease-in-out 0s;
}
.container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1300px;
}
@media (min-width: 1360px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1300px;
    }
}
@media only screen and (max-width: 1150px) {
    .ServicesInnerdropdown .RightImgSectionMain {
        display: none;
    }
    ul.nav-dropdown.ServicesInner .ServicesInnerdropdown .col-md-8 {
        width: 100%;
        max-width: 100%;
        flex: 0 0 100%;
    }
    .MainNavigation .nav-dropdown.ServicesInner {
        width: 750px;
        left: -280px;
    }
    .WhyChoose .Shap svg {
        display: none;
    }
}
@media (min-width: 1700px) {
    .MainHEaderWrap {
        background: #2a3489;
    }
    .row.HeaderSection.DesktopHeader.sticky {
        position: unset;
    }
    .row.HeaderSection {
        max-width: 1140px;
        margin: auto;
    }
    .row.HeaderSection.DesktopHeader.sticky {
        left: 0;
        right: 0;
    }
}
@media only screen and (max-width: 1180px) {
    .DesktopHeader {
        display: none;
    }
    .mobileheader {
        display: block;
    }
}
@media only screen and (max-width: 991px) {
    .DesktopHeader {
        display: none;
    }
    .WhyChoose .ColorCard {
        background: unset !important;
        min-height: auto;
        padding: 0;
    }
    .mobileheader {
        display: block;
    }
    .mobileheader ul.nav-dropdown.ServicesInner {
        display: none !important;
    }
    .mobileheader ul.nav-dropdown.ServicesInner.active-menu {
        display: block !important;
    }
    .mobileheader .sidenav {
        padding-top: 30px;
        background-color: #fff;
    }
    .mobileheader .sidenav .closebtn {
        color: #fff;
        background: #263b5e;
        height: 50px;
        width: 50px;
        font-size: 30px;
    }
    .mobileheader .Nav ul li a {
        color: #000;
        font-size: 16px;
    }
    .mobileheader .Nav ul li {
        margin-bottom: 15px;
        padding-bottom: 10px;
        border-bottom: 1px solid #2a3489;
    }
    .mobileheader .Nav ul li a i {
        margin-left: 10px;
        vertical-align: middle;
        font-size: 12px;
    }
    .mobileheader .Nav ul li.MobileLogin a i{
        margin-left: 0;
        margin-right: 5px;
    }
    .ServicesInnerdropdown .TxtBox a {
        font-size: 16px !important;
        font-weight: 400 !important;
    }
    .ServicesInnerdropdown {
        padding: 35px;
        padding-left: 10px;
    }
    .RightImgSectionMain {
        display: none;
    }
    .ServicesInnerdropdown .Dicon img {
        width: 45px;
    }
    .ServicesInnerdropdown .DropDownCard {
        padding-left: 60px;
    }
    .ServicesInnerdropdown .TxtBox {
        padding-left: 15px;
    }
    .MarginBottomSection {
        margin-top: 35px;
    }
    .ServicesInnerdropdown .col-md-4, .ServicesInnerdropdown .col-md-8 {
        width: 100%;
        flex: 100%;
        max-width: 100%;
    }
    .Footer .Middle {
        margin-bottom: 40px;
    }
    .Footer .FooterBottom {
        margin-top: 0;
    }
    .Footer {
        padding: 80px 0 0 0;
    }
    .mobileheader.stickyw {
        position: fixed;
        top: 0;
        z-index: 999;
        width: 100%;
    }
    .WhyChoose .contentWrap {
        background: #fff;
        padding: 40px;
        border-radius: 10px;
        text-align: center;
        border: 1px solid #263b5e;
        min-height: 322px;
        margin-bottom: 30px;
    }
    .SliderWrap .ImgSec img {
        width: 100%;
    }
    .DomainSearch .Input input {
        width: 65%;
    }
    .Plans {
        padding: 0 0;
    }
    .WhyChoose .Shap svg {
        top: -76px;
    }
    .WhyChoose {
        margin: 0;
        padding: 60px 0 60px;
    }
    .WhyChoose .row {
        margin-top: 35px;
    }
    .WhyChoose .LeftImg {
        text-align: center;
        margin-top: 40px;
    }
    .WhyChoose .LeftImg img {
        width: auto;
    }
    .WhyHosting .box {
        margin-bottom: 30px;
    }
    .VpsPlan .tab-box .LeftSide {
        padding-right: 0;
        padding-bottom: 40px;
    }
    .VpsPlan .tab-main-box {
        padding: 30px 30px 0;
    }
    .WhyHosting .box.Bottom {
        margin-top: 0;
    }
    .WhyHosting .box.Margin {
        margin-top: 0;
    }
    .SliderWrap.HOmePage .ContentWrap .h1 {
        font-size: 36px;
        line-height: 46px;
    }
    .DomainSearchMain {
        width: 85%;
        padding: 70px 70px;
    }
    .DomainSearchMain .DomainSearchWrap .DomainHeading {
        font-size: 32px;
    }
    .Services-offer {
        padding: 50px 0 30px;
    }
    .HotingPlan .row .col-md-4 {
        padding: 0 10px;
    }
    .SliderWrap.Inner .ImgSec img {
        width: 100%;
        height: 100%;
    }
    .SliderWrap.Inner.VPSHOsting .ImgSec img {
        height: auto;
    }
}
@media only screen and (max-width: 767px) {
    .DomainSearchMain {
        width: 90%;
        padding: 40px 5px;
        margin-top: 45px;
        margin-bottom: 10px;
    }
    .VpsPlan .BoxTabVps{
        flex-wrap: wrap;
    }
    .WorkFlow .arrow-step-wrap li{
        margin-right: 0;
        margin-bottom: 20px;
    }
    .WorkFlow .arrow-step-wrap {
        display: block;
    }
    .SetupCardBox.WhyHosting .row{
        margin-bottom: 0!important;
    }
    .SetupCardBox .SSlCARD{
        margin-bottom: 30px;
    }
    .WhyHosting.SetupCardBox {
        padding: 40px 0 40px!important;
    }
    .WhyChoose .contentWrap {
        padding: 30px 20px;
        min-height: auto;
    }
    .DomainSearchMain .DomainSearchWrap ul {
        display: none;
    }
    .DomainSearchMain .DomainSearchWrap .DomainHeading {
        font-size: 28px;
        line-height: 36px;
    }
    .mobileheader .MainWrap .logo img {
        width: 93px;
    }
    .ServicesInnerdropdown {
        padding: 20px;
        padding-bottom: 0;
        padding-left: 0;
    }
    .ServicesInnerdropdown .DropDownCard {
        margin-bottom: 30px;
    }
    .MarginBottomSection {
        margin-top: 0;
    }
    .FooterTop {
        margin-bottom: 35px;
    }
    .Footer .Middle {
        margin-bottom: 30px;
    }
    .Footer .Middle .h5, .Footer .Middle h5 {
        margin-bottom: 15px;
        padding-bottom: 15px;
    }
    .Footer .Middle {
        margin-bottom: 20px;
    }
    .Footer .Middle a.BtnDesign {
        margin-bottom: 15px;
    }
    .Footer {
        padding: 60px 0 0 0;
    }
    .SliderWrap .ContentWrap .h1 {
        font-size: 40px;
        line-height: 50px;
    }
    .DomainSearch .Input {
        width: 100%;
        padding: 0 20px;
        margin-bottom: 15px;
    }
    .DomainSearch .BtnWrap {
        position: static;
        display: block;
        text-align: center;
    }
    .SliderWrap .ImgSec img {
        margin-top: 30px;
    }
    .SliderWrap {
        padding: 50px 0;
    }
    .DomainSearch .Input input {
        width: 90%;
    }
    .ErrorContent h1 {
        font-size: 50px;
    }
    .ErrorContent h2 {
        margin: 20px 0 20px;
        line-height: 44px;
    }
    .WhyChoose .LeftImg img {
        width: 100%;
    }
    .Services-offer {
        padding: 40px 0 10px;
    }
    .Heading {
        font-size: 26px;
    }
    .Services-offer .Card {
        margin-bottom: 35px;
    }
    .HotingPlan .row, .OurClient .row, .Services-offer .row, .WhyChoose .row {
        margin-top: 30px;
    }
    .WhyChoose {
        margin: 0px 0 0px;
        padding: 20px 0 10px;
    }
    .WhyChoose .Heading {
        padding-bottom: 0;
    }
    .OurClient .owl-item img {
        padding: 0 10px;
    }
    .OurClient {
        margin-bottom: 40px;
    }
    .WhoWeAre {
        padding: 40px 0;
    }
    .WhoWeAre .row {
        padding-top: 20px;
    }
    .WhoWeAre .h3, .WhoWeAre h3 {
        margin-bottom: 10px;
        font-size: 18px;
    }
    .WhoWeAre p {
        line-height: 26px;
        font-size: 15px;
    }
    .WhoWeAre img {
        width: 100%;
        margin-top: 30px;
    }
    .WhyHosting {
        padding: 40px 0 10px;
    }
    .WhyHosting .row {
        padding-top: 30px;
    }
    .WhyHosting .box {
        min-height: auto;
        margin-bottom: 30px;
    }
    .Services-offer.Inner {
        padding: 20px 0 30px;
    }
    .Services-offer.Inner .Card {
        padding: 0px 0 16px 0;
    }
    .Services-offer.Inner .Card p {
        padding: 0;
    }
    .VpsPlan .tab-menu ul {
        flex-wrap: wrap;
    }
    .VpsPlan .tab-main-box {
        padding: 20px 15px 0;
    }
    .VpsPlan .tab-box .RightSide ul li {
        width: 48%;
    }
    .VpsPlan .tab-teaser {
        margin-bottom: 20px;
    }
    .centersection {
        padding: 40px 0;
        margin-bottom: 20px;
    }
    .SliderWrap.Inner {
        padding: 40px 0;
    }
    .centersection h2 {
        line-height: 35px;
        margin-bottom: 25px;
    }
    .SliderWrap.HOmePage .ContentWrap .h1 {
        font-size: 40px;
        line-height: 50px;
    }
    .TablePlan {
        margin-bottom: 30px;
    }
    .ContactPage .BoxShadow {
        box-shadow: unset;
        padding-right: 0;
    }
    .WhyHosting.ContactUs {
        padding: 70px 0 10px;
    }
    .ContactPage .BoxShadow .RightSide {
        padding-top: 30px;
        padding-bottom: 0;
    }
    .ContactPage {
        padding-bottom: 40px;
    }
    .Portfolio_Wrap .Portfolio_Content {
        margin-bottom: 40px;
        height: 350px;
    }
    .SideBarAdd {
        padding: 35px 20px 0;
    }
    .mobileheader .Nav ul li a {
        font-size: 14px!important;
    }
    .mobileheader .Nav ul li {
        margin-bottom: 10px;
        padding-bottom: 0;
        border-bottom: 0;
    }
}
@media (max-width: 576px) {
    .HotingPlanTabs .tab .button {
        padding: 10px 16px;
        font-size: 15px;
    }
}
.Footer.LandingPage {
    padding: 0;
}
.Footer.LandingPage .FooterBottom {
    margin: 0;
    border: 0;
}
.Footer.LandingPage p.URLLink {
    margin-top: 5px;
}
.Footer.LandingPage p.URLLink a {
    margin: 0 5px;
}
.SliderLanding{
    padding: 70px 0;
    background: #263b5e;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.SliderLanding h1 {
    font-size: 42px;
    font-weight: 700;
}
.SliderLanding h1 span {
    display: block;
    font-size: 32px;
    color: #00e190;
    margin-top: 10px;
}
.SliderLanding .ListView{
    margin-top: 20px;
}
.SliderLanding .ListView p {
    color: #263b5e;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.SliderLanding .ListView ul li{
    margin-bottom: 10px;
}
.SliderLanding .ListView ul li:last-child{
    margin-bottom: 0px;
}
.SliderLanding .ListView ul li i{
    margin-right:5px;
}
.SliderLanding .CallUsBtn {
    margin-top: 20px;
    color: #263b5e;
    font-size: 30px;
    font-weight: 700;
}
.SliderLanding .CallUsBtn a{
    color: #00e190;
}
.SliderLanding .BtnBox{
    margin-top: 20px 
}
.SliderLanding .BtnBox a {
    background: #263b5e;
    color: #fff;
    display: inline-block;
    padding: 8px 30px;
    border-radius: 30px;
}
.SliderLanding .BtnBox a:hover{
    background: #00e190;
    color: #fff;
}
.SliderLanding .BtnBox .FirstBtn {
    background: #00e190;
    color: #fff;
    margin-right: 15px;
}
.SliderLanding .BtnBox .FirstBtn:hover{
    background: #263b5e;
    color: #fff;
}
.Landing.Heading p {
    font-size: 20px;
    margin-bottom: 10px;
}
.SliderLanding .LeftImgLand img{
    width:100%;
}
.Services-offer.Landing .Card p {
    padding: 0;
    font-weight: 400;
    color: #000;
}
.HotingPlan.HotingPlanTabs.SecondWRap {
    padding: 70px 0;
}
.Landing.Heading{
    font-size: 34px;
}
.SOmeOurProject.Landing .Portfolio_Wrap {
    padding: 0;
    padding-top: 45px;
}
.SOmeOurProject.Landing .Portfolio_Wrap .Portfolio_Content {
    box-shadow: -1px 8px 18px rgb(0 0 0 / 34%);
    height: 450px;
    overflow-y: hidden;
    margin-bottom: 60px;
    border: 0px solid #000;
    border-radius: 15px;
}
.SOmeOurProject .MoreDesignBtn{
    text-align: center;
}
.SOmeOurProject .MoreDesignBtn .Head{
    font-size: 26px;
    font-weight: 600;
    color: #263b5e;
    margin-bottom: 15px;
}
.SOmeOurProject .MoreDesignBtn a{
    display: inline-block;
    background: #00e190;
    color: #fff;
    padding: 10px 30px;
    border-radius: 30px;
}
.SOmeOurProject .MoreDesignBtn a:hover{
    background: #263b5e;
}
.RatingBoxes{
    padding:90px 0 0px;
}
.RatingBoxes .Heading{
    margin-bottom:50px;
}
.RatingBoxes .ratBox{
    text-align: center;
    box-shadow: 0 0 38px -14px #0000002b;
    padding:30px;
    border-radius: 15px;
    height: 100%;
}
.RatingBoxes .ratBox img{
    width: 55px;
}
.RatingBoxes .ratBox .RatingStar{
    margin: 20px 0;
}
.RatingBoxes .ratBox .RatingStar i{
    color: #ecbc0e;
}
.RatingBoxes .ratBox .Txt{
    font-size: 14px;
}
.RatingBoxes .ratBox .name{
    margin-top: 15px;
    font-weight: 600;
}
.RatingBoxes .row .col-md-4 {
    margin-bottom: 30px;
}
.ProductsCustomCart ul li{
    margin: 10px 0;
}
@media(max-width:767px){
    .SliderLanding h1 {
        font-size: 34px;
    }
    .SliderLanding .CallUsBtn,.SliderLanding h1 span{
        font-size: 24px;
    }
    .SliderLanding .BtnBox .FirstBtn{
        display: table;
        margin-bottom: 15px;
    }
    .SliderLanding .LeftImgLand img{
        margin-top: 30px;
    }
    .SliderLanding {
        padding: 40px 0;
    }
    .Landing.Heading {
        font-size: 26px;
    }
    .Landing.Heading p{
        margin-bottom: 0px;
        line-height: 26px;
    }
    .HotingPlan.HotingPlanTabs .row {
        margin-top: 30px;
    }
    .HotingPlan.HotingPlanTabs.SecondWRap.LandingPrice {
        padding: 40px 0 20px;
    }
    .RatingBoxes {
        padding: 50px 0 0px;
    }
    .WhyHosting.ContactUs.LandingPage {
        padding: 20px 0 10px;
    }
}
